/* fonts */
@font-face {
  font-family: 'Hyundai Sans Text Office';
  src: local("Hyundai Sans Head Office"), local("HyundaiSansHeadOffice-Regular"), url("../assets/fonts/HyundaiSans/HyundaiSansHeadOffice-Regular.eot"), url("../assets/fonts/HyundaiSans/HyundaiSansHeadOffice-Regular.woff") format("woff"), url("../assets/fonts/HyundaiSans/HyundaiSansTextOffice-Regular.ttf") format("truetype");
  /* Safari, Android, iOS / Regular */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hyundai Sans Text Office';
  src: local("Hyundai Sans Text Office Bold"), local("HyundaiSansHeadOffice-Bold"), url("../assets/fonts/HyundaiSans/HyundaiSansHeadOffice-Bold.eot"), url("../assets/fonts/HyundaiSans/HyundaiSansHeadOffice-Bold.woff") format("woff"), url("../assets/fonts/HyundaiSans/HyundaiSansHeadOffice-Bold.ttf") format("truetype");
  /* Safari, Android, iOS / Bold */
  font-weight: bold;
  font-style: normal;
}

/* main colors */
body {
  font-family: 'Hyundai Sans Text Office', sans-serif;
  /* header */
  /* end of header */
  /* main */
  /* end of main */
  /* footer */
  /* end of footer */
  /* @media */
}

body .header {
  background: #0f397161;
}

body .header__logo__img {
  width: 70px;
}

body .header__btn__toggler:focus {
  outline: none;
  border: none;
}

body .main__model-description {
  margin: 2em 0;
}

body .main__model-description__header {
  margin: 0.2em 0;
}

body .main__model-description__text {
  width: 90%;
  line-height: 2;
}

body .main__model-description__price span {
  margin: 0.2em 0;
  color: #0f3a71;
}

body .main__model-description__btn {
  width: 10em;
  margin: 1em 0;
  padding: 0.8em;
  background: #0f3a71;
  outline: none;
  border: none;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body .main__model-description__btn:hover {
  opacity: 0.8;
}

body .main__img {
  max-width: 90%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .main__img__box {
  background: url(../assets/images/logo/solaris-bg.svg) center center/cover no-repeat;
}

body .main__form__box {
  margin: 40px 0;
}

body .main__form__subtitle {
  margin: 1em 0;
  font-size: 1.2em;
}

body .main__form__block {
  margin: 0.5em 0;
}

body .main__color-box {
  margin: 5em 0 15em 0;
}

body .main__color-box__item {
  position: relative;
  width: 4em;
  height: 4em;
  margin: 30px 15px;
  border-radius: 50%;
  cursor: pointer;
}

body .main__color-box__item_black {
  background: var(--dark);
}

body .main__color-box__item_red {
  background: var(--red);
}

body .main__color-box__item_orange {
  background: var(--orange);
}

body .main__color-box__item_blue {
  background: var(--blue);
}

body .main__color-box__item_white {
  background: #dddfe6;
}

body .main__color-box__item_gray {
  background: var(--gray);
}

body .main__color-box__item_metallic {
  background: #a9a9a9;
}

body .footer {
  background: #0f3a71;
}

body .footer a {
  text-decoration: none;
}

body .footer li {
  list-style: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

body .footer li:hover {
  color: #fff !important;
}

body .footer__feature {
  padding: 3em 0;
}

body .footer__feature__logo {
  width: 70px;
}

body .footer__feature__phone {
  font-size: 1.5em;
}

body .footer__feature__icon {
  margin-right: 10px;
}

body .footer__feature__list__item {
  margin: 10px 0;
}

body .footer__social__list {
  padding: 15px 0;
}

body .footer__social__icon {
  width: 1.5em;
}

@media screen and (max-width: 500px) {
  body .main__color-box__item {
    position: relative;
    width: 2em;
    height: 2em;
    margin: 10px 5px;
  }
  body .footer__feature__list_lg {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */